body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    margin: 0;
}

.eventos-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
}

.eventos-container h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
}

.evento {
    display: flex;
    align-items: center;
    background-color: rgba(10, 12, 16, 0.749);
    border-radius: 8px;
    margin-bottom: 30px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.evento img {
    width: 250px;
    height: 200px;
    object-fit: cover;
}

.evento-info {
    padding: 20px;
    flex-grow: 1;
}

.evento-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.evento-info p {
    font-size: 16px;
    margin-bottom: 20px;
}

.evento-info button {
    padding: 10px 20px;
    background-color: #af0000;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.evento-info button:hover {
    background-color: #000000;
}




/*footer*/


footer {
    background-color: #0a0c10;
    padding: 10px 0; /* Reduz a altura do footer */
    color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    margin-top: 50px; /* Aumenta o espaço entre o conteúdo e o footer */
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo img {
    width: 150px;
    margin-bottom: 10px;
}

.footer-info p {
    margin: 5px 0;
}

.footer-info a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-info a:hover {
    color: #ce20b1;
}

.footer-social a {
    margin: 0 10px;
}

.footer-social svg {
    width: 24px;
    height: 24px;
    fill: #EDF1F7;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.footer-social svg:hover {
    opacity: 1;
}


